.addRecipeContainer {
  padding-top: 120px;
  padding-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipeName {
  width: 60%;
  margin: 0 0 30px 0;
  padding: 10px;
}

.recipeImg {
  width: 60%;
  margin: 10px 0 30px 0;
  border-radius: 20px;
  align-items: center;
}

.recipeInstructions {
  width: 60%;
  margin: 0 0 30px 0;
  padding: 10px;
}

.buttons {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.recipeTitle {
  font-size: 18px;
  font-weight: 500;
}

.headerTitle {
  font-size: 30px;
  align-items: center;
  padding: 30px 0 20px 20%;
  font-weight: 500;
}
