/* .header {
  background-image: none;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10px;
  color: white;
  background: #4285f4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 22px;
  z-index: 10;
  box-shadow: 0 0 15px 0 black;
}

nav a {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin: 50px;
  cursor: pointer;
}

nav a:hover {
  color: rgb(99, 146, 185);
  text-decoration: none;
}

nav li:hover {
  color: rgb(99, 146, 185);
  text-decoration: none;
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

/* .header * {
    display: inline;
  }
  
  .header li {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 35px;
    cursor: pointer;
  }
  
  .header li a {
    color: white;
    text-decoration: none;
  } */
