.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 120px;
}

.break {
  flex-basis: 100%;
  height: 0;
  margin: 10px;
}

/* .break2{
  width: 100%;
} */

.heading {
  justify-content: flex-start;
}

.icon1 {
  width: 10%;
}

.icon {
  width: 100%;
  border-radius: 50%;
}

.details {
  margin-left: 30px;
}

.username {
  flex: 1;
}

.addrecipe-button {
  flex: 1;
  width: 450px;
  margin-bottom: 0px;
  align-items: stretch;
  margin-top: 30px;
}

.back-button {
  flex: 1;
  margin: 10px;
  width: 200px;
}
.grocerylist-button {
  flex: 1;
  margin: 10px;
  width: 200px;
}
.logout-button {
  flex: 1;
  margin: 10px;
  width: 200px;
}

.carousels {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0px;
}

.carousel1 {
  flex: 2;

}

.carousel2 {
  flex: 2;

}

.left-button {
  width: 50px;
  margin: 10px;
}

.right-button {
  width: 50px;
  margin: 10px;
}

.slide-image1 {
  margin-right: 20px;
}
