.modalbutton btn-primary {
  background-color: whitesmoke !important;
  border-color: black !important;
}
.modalbutton btn-primary:hover {
  background-color: grey !important;
}
li {
  list-style-type: none;
  display: block;
  border-width: 10px;
  border-bottom: black;
}
.modal {
  position: fixed;
  display: center !important;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100% !important;
}

.modal-main {
  position: fixed;
  background: white;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.viewButton {
  list-style-type: none;
  display: block;
  width: 360px;
  height: 400px;
  background-color: white !important;
  border-color: lightgrey !important;
  color: black !important;
  border-radius: 5% !important;

  border-width: 10px;
  border-bottom: black;
}
.view1Button {
  list-style-type: none;
  display: block;
  width: 270px;
  height: 40px;
  background-color: lightgray !important;
  border-color: lightgrey !important;
  color: black !important;
  border-radius: 2% !important;
  border-width: 10px;
  border-bottom: black;
  text-align: center;
}
.imgrecipe {
  width: 220px;
  height: 140px;
  border-radius: 5%;
}
.img1recipe {
  width: 300px;
  height: 150px;
  border-radius: 5%;
}
#example-custom-modal-styling-title {
  font-size: 70px;
}
#modal {
  width: 600px;
  height: 400px;
}
#buttonhide {
  display: center;
  border: none;
}

.modalbody {
  width: 300px !important;
}
p {
  word-break: break-all;
  white-space: normal;
}
