.recipeContainer {
  padding-top: 80px;
}

.modalbutton btn-primary {
  background-color: whitesmoke !important;
  border-color: black !important;
}
.modalbutton btn-primary:hover {
  background-color: grey !important;
}

li {
  list-style-type: none;
  display: block;
  border-width: 10px;
  border-bottom: black;
}
.modal {
  position: fixed;
  display: center !important;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100% !important;
}
p{
  font-size: 15px;
}
.modal-main {
  position: fixed;
  background: white;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.viewButton {
  list-style-type: none;
  display: block;
  width: 350px;
  height: 500px;
  background-color: white !important;
  border-color: lightgrey !important;
  color: black !important;
  border-radius: 5% !important;
  box-shadow: -0.05rem 2rem 2rem rgba(0, 0, 0, 0.1);
  border-width: 10px;
  border-bottom: black;
  padding-bottom: 30px;
  padding-top: 30px;


}

.view1Button {
  list-style-type: none;
  display: block;
  width: 150px;
  height: 40px;
  background-color: white !important;
  border-color: lightgrey !important;
  color: white !important;
  border-radius: 5% !important;
  box-shadow: -0.05rem 2rem 2rem rgba(0, 0, 0, 0.1);
  border-width: 10px;
  border-bottom: black;
  text-align: center;

}
.view1Button {
  list-style-type: none;
  display: block;
  width: 200px;
  height: 40px;
  background-color: #eb9d91 !important;
  border-color: lightgrey !important;
  color: rgb(99, 146, 185);
  border-radius: 2% !important;
  border-width: 10px;
  border-bottom: black;
  text-align: center ;
}
.imgrecipe {
  width: 250px;
  height: 150px;
  border-radius: 5%;
}
.img1recipe {
  width: 250px;
  height: 150px;
  border-radius: 5%;
}
#example-custom-modal-styling-title {
  font-size: 70px;
}
#modal {
  width: 600px;
  height: 500px;
}
#buttonhide {
  display: center;
  border: none;
}

.modalbody {
  width: 350px !important;
}
